faiss_cpu==1.7.4
InstructorEmbedding==1.0.1
langchain==0.0.262
llama_index==0.7.19
torch==2.0.1+cu117
bitsandbytes @ git+https://github.com/Keith-Hon/bitsandbytes-windows.git@fdb1ba729fa1936f2ef69e5ff1084d09189fdc2a

